<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments/header :: head}"></head>

<body>
    <div th:insert="~{admin/fragments/header :: body}"></div>

    <div th:insert="~{admin/fragments/sidebar}"></div>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Proyectos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li class="breadcrumb-item active">Proyectos</li>
        </ol>

        <div class="alert alert-info">
            Aquí va la gestión de proyectos.
        </div>
    </div>

    <div th:insert="~{admin/fragments/footer}"></div>
</body>

</html>