</main>
<!-- Footer -->
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Carpentry y Acabados SYC 2025</div>
            <div>
                <a href="#">Política de Privacidad</a>
                &middot;
                <a href="#">Términos &amp; Condiciones</a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
